@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.homeImage{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0px rgb(5, 5, 5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../../img/homeImage.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 300px;
    padding-bottom: 400px;
}

.titleImg{
    font-size: 3em;
}

.pImg{
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 1.5em;
}

.buttonParallax:hover{
    color:#c69f36;
    background-color: #4d4d4d;
}

@media screen and (max-width: 500px){
    .homeImage{
        padding-bottom: 300px;
    }

    .titleImg{
        font-size: 2em;
    }

    .pImg{
        margin-top: 0;
        font-size: 1em;
    }
}