@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.contentQuemSomos{
    font-family: 'Roboto', sans-serif;
    /* text-shadow: 1px 1px 0px rgb(5, 5, 5); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../../img/quemSomos1.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #122888;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quemSomos{
    width: 100%;
    background-color: #f5f5f5;

}

.titleQuemSomos{
    font-size: 3em;
}

.pQuemSomos{
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 1.5em;
}

@media screen and (max-width: 500px){
    .contentQuemSomos{
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .titleQuemSomos{
        font-size: 2em;
    }

    .pQuemSomos{
        margin-top: 0;
        font-size: 1em;
    }
}