@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.history {
    font-family: 'Poppins', sans-serif;
    color: #122888;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bannerHistory {
    border-radius: 5px;
    width: 35%;
    margin: 2%;
}

.pHistory {
    padding: 50px;
}

@media screen and (max-width: 768px) {
    .history {
        flex-direction: column-reverse;
    }
    .bannerHistory {
        width: 90%;
        padding: 0px;
    }
    .pHistory {
        padding-top: 10px;
    }
}