@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.servico{
    font-family: 'Poppins', sans-serif;
    color: #122888;
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    flex-wrap: nowrap;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content{
    display: flex;
}

.contentServico{
    border-radius: 10px;
    background-color: #fff;
    width: 49%;
}

.contentServico h1{
    font-size: 1em;
    padding-right: 20px;
    padding-left: 20px;
}

.contentServico p{
    padding-right: 20px;
    padding-left: 20px;
}

@media screen and (max-width: 750px){
    .servico{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 200px;
    }

    .content{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .contentServico{
        border-radius: 0px;
        background-color: #fff;
        width: 90%;
    }
}